@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.fuente{
  font-family: 'Raleway';
  font-size: x-large;
}
.contactanos .fuente{
  color: #727272;
  text-align: justify;
  margin:0 10%;
  line-height: 200%;
  font-size: 2em;

}

.header {
  display: flex;
  background-color: #03B6E8;
}
.header img {
  width: 20%;
}

body {
  position: relative;
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.inicio .img-inicio {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: gray;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.sectionCards {
  margin: 5%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid gray-light;
  color: gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 25%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__content .click {
  text-decoration: none;
  color: black;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__title {
  color: #1E294D;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Raleway';
}
.card__text {
  color: #727272;
  flex: 1 1 auto;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-align: justify;
  font-family: 'Raleway';
}

.contactanos {
  display: grid;
  grid-template-columns: auto auto 48%;
  grid-template-rows: auto;
  margin: 5%;
}
.contactanos .titulo{
  color: #1E294D;
}

.contactanos .div{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.contactanos .divImg {
  grid-column-start: 3;
  grid-row-start: 1;
}
.contactanos .divImg .imgContact {
  width: 100%;
}

.footer-grid{
  display: flex;
  justify-content: flex-end;
  background-color:    #1E294D;
  ;
}
.footer-grid a {
  text-decoration: none;
}
.footer-grid a img {
  width: 100%;
}
.margin{
  margin-right: 10%;

}
.footer-grid .redes {
  display: flex;
  width: 3%;
}

@media only screen and (max-width: 768px) {
  .contactanos {
    display: flex;
    flex-direction: column;
  }

  .presentacion {
    height: 80vh;
  }
  .presentacion .inicio {
    height: 100%;
  }
  .presentacion .inicio .img-inicio {
    height: 100%;
  }
  .presentacion .inicio2 {
    height: 30%;
  }
  .presentacion .inicio2 .img-inicio2 {
    height: 100%;
  }
  .contactanos .div .titulo{
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  .contactanos .div .fuente{
    font-size: 1em;
  }

  .ocultar-div {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
