.contactanos{
    display: grid;
    grid-template-columns: auto  25% 50%;
    grid-template-rows: auto ;
    margin: 5%;

   .div{
    p{
        text-align: justify;
        margin: 10%;
        line-height: 200%
    }
   }
   .divImg{
    grid-column-start: 3;
    grid-row-start: 1;
        .imgContact{
            width: 100%;
        }
    }
}

