.contactanos{
    display: grid;
    grid-template-columns: auto ;
    h1{
        width: 50%;
    }
   
   .div{
    display: flex;
    justify-content: space-between;
    p{
        text-align: justify;
        margin: 10%;
        line-height: 200%
    }

    .imgContact{
        width: 40%;
    }

   }
}