.grid{
    // display: grid;
    // grid-template-rows: auto auto;
    // grid-template-columns: auto auto;
    // .card1{
    //     display: grid;
    //     grid-template-columns: auto auto auto;
    //     .img{
    //         width: 100%;
    //     }

    // }
    .card1{
        margin: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: end;
        overflow: hidden;
        .div-img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        
    }

    .card2{
        margin: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        .div-img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        
    }


}
// .animationLeft {
//     animation: SlideInLeft 1s ease 1s 1 normal backwards;

// }
// .animationRight{
    
//     animation: SlideInRight 2s ease 1s 1 normal backwards;
// }

