.grid{
    display: grid;
    grid-template-rows: auto auto;
    // grid-template-columns: auto auto;
    // .card1{
    //     display: grid;
    //     grid-template-columns: auto auto auto;
    //     .img{
    //         width: 100%;
    //     }

    // }
    .card{
        margin: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        .img{
            width: 100%;
        }
    }
}
