@media only screen and (max-width: 700px){
   
   //index.html
    .contactanos{
        display: flex;
        flex-direction: column;
    }
    .presentacion{
        height: 70vh;
        .inicio{
            height: 70%;
            .img-inicio{
                height: 100%;
            }
        }
        .inicio2{
            height: 30%;
            .img-inicio2{
                height: 100%;
            }
        }

    }
    //fin querys index.html

    
}